In [1]:
import pandas as pd

In [2]:
path = "/home/aszummer/Documents/MCV/M6/mcvm6team3/experiments/det_S01_c002/dets.txt"

In [3]:
COL_NAMES = ['frame','wtf', 'bb_left', 'bb_top', 'bb_width', 'bb_height', 'conf','del','del1', 'del2']

predictions_dict = {}
df = pd.read_csv(path, delimiter=',', names=COL_NAMES)

In [5]:
df.head()

,frame,wtf,bb_left,bb_top,bb_width,bb_height,conf,del,del1,del2
0,1,-1,125.547150,457.378235,497.644684,192.784485,0.995978,-1,-1,-1
1,1,-1,908.480835,215.337616,93.613708,93.334076,0.977238,-1,-1,-1
2,1,-1,867.040527,165.821320,71.281250,49.733170,0.976740,-1,-1,-1
3,1,-1,1265.807617,277.298828,95.997681,82.097351,0.943682,-1,-1,-1
4,1,-1,1312.205444,108.778412,60.943726,21.335312,0.908940,-1,-1,-1

In [9]:
df.shape

(69133, 10)

In [39]:
df_test = df
df_bigger_then_1000 = df_test[(df_test['bb_width'] * df_test['bb_height']) > 3000]
df_without_top_10 = df_bigger_then_1000[df_bigger_then_1000['bb_top']>100]

In [40]:
df_bigger_then_1000.shape

(17545, 10)

In [41]:
df_without_top_10.shape

(13807, 10)

In [42]:
df_without_top_10.to_csv('dets_small.txt', index=False, header=False)

In [38]:
df_smaller_then_1000

,frame,wtf,bb_left,bb_top,bb_width,bb_height,conf,del,del1,del2
5,1,-1,722.762756,77.787109,29.893250,20.512169,0.780833,-1,-1,-1
8,1,-1,230.793289,41.624142,21.263458,20.091164,0.320179,-1,-1,-1
9,1,-1,408.770050,51.349976,21.667969,17.348450,0.315587,-1,-1,-1
10,1,-1,767.977417,59.644451,20.173096,14.311771,0.303920,-1,-1,-1
11,1,-1,385.498657,69.868347,28.111816,17.983971,0.291241,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...
69126,2110,-1,677.853638,68.620316,47.970886,20.835640,0.088422,-1,-1,-1
69127,2110,-1,304.598511,46.034626,34.343506,17.424938,0.083232,-1,-1,-1
69130,2110,-1,729.489075,69.916748,30.737549,24.011948,0.059890,-1,-1,-1
69131,2110,-1,313.558990,50.790253,33.528168,14.834183,0.059227,-1,-1,-1
69132,2110,-1,734.423035,79.524025,20.255737,19.135857,0.054960,-1,-1,-1