In [1]:
import pandas as pd

In [2]:
path = "/home/aszummer/Documents/MCV/M6/mcvm6team3/experiments/det_S01_c002/dets.txt"

In [3]:
COL_NAMES = ['frame','wtf', 'bb_left', 'bb_top', 'bb_width', 'bb_height', 'conf','del','del1', 'del2']

predictions_dict = {}
df = pd.read_csv(path, delimiter=',', names=COL_NAMES)

In [5]:
df.head()

,frame,wtf,bb_left,bb_top,bb_width,bb_height,conf,del,del1,del2
0,1,-1,125.547150,457.378235,497.644684,192.784485,0.995978,-1,-1,-1
1,1,-1,908.480835,215.337616,93.613708,93.334076,0.977238,-1,-1,-1
2,1,-1,867.040527,165.821320,71.281250,49.733170,0.976740,-1,-1,-1
3,1,-1,1265.807617,277.298828,95.997681,82.097351,0.943682,-1,-1,-1
4,1,-1,1312.205444,108.778412,60.943726,21.335312,0.908940,-1,-1,-1

In [9]:
df.shape

(69133, 10)

In [39]:
df_test = df
df_bigger_then_1000 = df_test[(df_test['bb_width'] * df_test['bb_height']) > 3000]
df_without_top_10 = df_bigger_then_1000[df_bigger_then_1000['bb_top']>100]

In [40]:
df_bigger_then_1000.shape

(17545, 10)

In [41]:
df_without_top_10.shape

(13807, 10)

In [42]:
df_without_top_10.to_csv('dets_small.txt', index=False, header=False)

In [38]:
df_smaller_then_1000

,frame,wtf,bb_left,bb_top,bb_width,bb_height,conf,del,del1,del2
5,1,-1,722.762756,77.787109,29.893250,20.512169,0.780833,-1,-1,-1
8,1,-1,230.793289,41.624142,21.263458,20.091164,0.320179,-1,-1,-1
9,1,-1,408.770050,51.349976,21.667969,17.348450,0.315587,-1,-1,-1
10,1,-1,767.977417,59.644451,20.173096,14.311771,0.303920,-1,-1,-1
11,1,-1,385.498657,69.868347,28.111816,17.983971,0.291241,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...
69126,2110,-1,677.853638,68.620316,47.970886,20.835640,0.088422,-1,-1,-1
69127,2110,-1,304.598511,46.034626,34.343506,17.424938,0.083232,-1,-1,-1
69130,2110,-1,729.489075,69.916748,30.737549,24.011948,0.059890,-1,-1,-1
69131,2110,-1,313.558990,50.790253,33.528168,14.834183,0.059227,-1,-1,-1
69132,2110,-1,734.423035,79.524025,20.255737,19.135857,0.054960,-1,-1,-1

In [17]:
path  = '/home/aszummer/Documents/MCV/M6/mcvm6team3/experiments/FasterRCNN_finetune_S01_S04_e2/S03/c010/features.txt'

'0'

In [19]:
COL_NAMES = [str(x) for x in range(0,512)]
COL_NAMES[0]
df = pd.read_csv(path, delimiter=',', names=COL_NAMES)

In [25]:
df

,0,1,2,3,4,5,6,7,8,9,...,502,503,504,505,506,507,508,509,510,511
0,0.0462,-0.1063,-0.0272,-0.0048,0.0343,0.1125,0.0525,-0.0468,0.0044,0.0152,...,0.0042,0.0066,0.0747,-0.0256,-0.0021,-0.0465,-0.0116,-0.0554,-0.0288,0.0117
1,0.1038,-0.0744,0.0269,-0.0028,0.0838,0.0215,0.0288,0.0136,-0.0070,-0.0160,...,-0.0060,0.0101,0.0295,-0.0448,-0.0057,0.0184,0.0780,0.0015,-0.0986,0.0743

In [56]:
df.shape

(2, 512)

In [57]:
list_of_feature_vectors = []
for row in range(df.shape[0]):
    tab = np.array(df.iloc[row])
    tab = tab.reshape((1,512))
    tab_torch = torch.from_numpy(tab).type(torch.float32)
    list_of_feature_vectors.append(tab_torch)

In [61]:
list_of_feature_vectors[0][0][0]

tensor(0.0462)

In [21]:
import numpy as np
import torch

In [36]:
tab = np.array(df.iloc[0])

In [37]:
tab = tab.reshape((1,512))

In [38]:
tab.shape

(1, 512)

In [40]:
tab_torch = torch.from_numpy(tab).type(torch.float32)

0.0462

In [53]:
tab_torch[0][0]

tensor(0.0462)

In [49]:
tab_torch = torch.from_numpy(tab).type(torch.float32)

In [51]:
tab_torch[0][0].dtype

torch.float32

In [63]:
col = [1,2,3]
col.insert(0,'frame')
col

['frame', 1, 2, 3]

In [67]:
df.iloc[0,0:]

0      0.0462
1     -0.1063
2     -0.0272
3     -0.0048
4      0.0343
        ...
507   -0.0465
508   -0.0116
509   -0.0554
510   -0.0288
511    0.0117
Name: 0, Length: 512, dtype: float64

In [68]:
path  = '/home/aszummer/Documents/MCV/M6/mcvm6team3/experiments/FasterRCNN_finetune_S01_S04_e2/S03/c010/features.txt'

In [69]:
COL_NAMES = [str(x) for x in range(0,512)]
COL_NAMES[0]
df = pd.read_csv(path, delimiter=',', names=COL_NAMES)

In [70]:
df.shape

(9432, 512)

In [71]:
path  = '/home/aszummer/Documents/MCV/M6/mcvm6team3/experiments/FasterRCNN_finetune_S01_S04_e2/S03/c010/features0.5.txt'
COL_NAMES = [str(x) for x in range(0,512)]
COL_NAMES[0]
df = pd.read_csv(path, delimiter=',', names=COL_NAMES)
df.shape

(5664, 512)

In [72]:
from pathlib import Path

In [84]:
path_to_seqs = Path("/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train")
paths_to_seqs = list(path_to_seqs.iterdir())
for sequences in paths_to_seqs:
    paths_to_cams = list(sequences.iterdir())
    print(sequences)
    for cams in paths_to_cams:
        path_input = str(cams/'vdo.avi')
        print(path_input)
        break

/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S01
/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S01/c002/vdo.avi
/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S03
/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S03/c011/vdo.avi
/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04
/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c027/vdo.avi

In [82]:
paths_to_cams

[PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c027'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c023'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c026'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c028'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c030'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c025'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c038'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c019'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c020'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c017'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c022'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c031'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c037'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c033'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c032'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c036'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c016'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c024'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c035'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c029'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c021'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c040'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c018'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c039'),
 PosixPath('/home/aszummer/Documents/MCV/M6/mcvm6team3/data/aic19-track1-mtmc-train/train/S04/c034')]